{
    "LogPath": "./logs",
    "SavePath": "/vol2/1000/MissAV",
    "DBPath": "./db/downloaded.db",
    "QueuePath": "./db/download_queue.txt",
    "Proxy": "http://127.0.0.1:7897",
    "IsNeedVideoProxy": false,
    "Downloader": [
        {
            "downloaderName": "MissAV",
            "domain": "missav.ai",
            "weight": 300
        },
        {
            "downloaderName": "Jable",
            "domain": "jable.tv",
            "weight": 500
        },
        {
            "downloaderName": "HohoJ",
            "domain": "hohoj.tv",
            "weight": 400
        },
        {
            "downloaderName": "Memo",
            "domain": "memojav.com",
            "weight": 600
        },
        {
            "downloaderName": "AvToday",
            "domain": "avtoday.io",
            "weight": 0
        },
        {
            "downloaderName": "NetFlav",
            "domain": "netflav.com",
            "weight": 0
        },
        {
            "downloaderName": "KissAv",
            "domain": "f15.bzraizy.cc",
            "weight": 0
        }
    ]
}